<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="RedboxAddin 2.0.96" Language="1033" Version="2.0.96" Manufacturer="Davton" UpgradeCode="e2f9be08-48e8-41d2-92b2-080c14a2e85d" Codepage="1252">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" Description="RedboxAddin" Manufacturer="Davton" Languages="1033" SummaryCodepage="1252" InstallPrivileges="limited" />
    <CustomAction Id="PreventDowngrading" Error="Newer version already installed." />
    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
      <FindRelatedProducts Sequence="200" />
    </InstallUISequence>
    <Upgrade Id="e2f9be08-48e8-41d2-92b2-080c14a2e85d">
      <UpgradeVersion Minimum="2.0.86" Property="NEWPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="no" Language="1033" />
    </Upgrade>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="RedboxAddin.cab" EmbedCab="yes" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Feature Id="ProductFeature" Title="RedboxAddin" Level="1" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentRef Id="INSTALLFOLDER" />
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="comp_5DE0BF45_5AAA_4732_B591_13B0D1C231A1" />
      <ComponentRef Id="comp_CAE69F27_D165_4A50_94E1_B86A8B52D8DE" />
      <ComponentRef Id="comp_6B4D96F2_CE04_45AD_912F_E9B060653FEE" />
      <ComponentRef Id="comp_EF419053_8C1A_4294_B1F6_19A680F31D2A" />
      <ComponentRef Id="comp_6B4D96F2_CE04_45AD_912F_E9B060653DFB" />
    </Feature>
    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Binary Id="adxregistrator_exe" SourceFile="$(var.ADX_PATH)\Redistributables\adxregistrator.exe" />
    <CustomAction Id="RegisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/install=&quot;[INSTALLFOLDER]$(var.RedboxAddin.TargetFileName)&quot; /privileges=user /returnExitCode=false" Impersonate="yes" />
    <CustomAction Id="RollbackApp" BinaryKey="adxregistrator_exe" Execute="rollback" ExeCommand="/uninstall=&quot;[INSTALLFOLDER]$(var.RedboxAddin.TargetFileName)&quot; /privileges=user" Impersonate="yes" Return="ignore" />
    <CustomAction Id="UnregisterApp" BinaryKey="adxregistrator_exe" Execute="deferred" ExeCommand="/uninstall=&quot;[INSTALLFOLDER]$(var.RedboxAddin.TargetFileName)&quot; /privileges=user" Impersonate="yes" Return="ignore" />
    <InstallExecuteSequence>
      <Custom Action="RegisterApp" After="StartServices"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="RollbackApp" After="RegisterApp"><![CDATA[$ProductComponent>2]]></Custom>
      <Custom Action="UnregisterApp" After="MsiUnpublishAssemblies"><![CDATA[$ProductComponent=2]]></Custom>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts"><![CDATA[NEWPRODUCTFOUND]]></Custom>
    </InstallExecuteSequence>
    <!-- Properties for all current versions of the .NET Framework are available here: http://wix.sourceforge.net/manual-wix3/wixnetfxextension.htm -->
    <PropertyRef Id="NETFRAMEWORK40FULL" />
    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again."><![CDATA[Installed OR NETFRAMEWORK40FULL]]></Condition>
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="RedboxAddin">
          <Component Id="INSTALLFOLDER" Guid="168f881a-8c58-4f8e-9c62-cabc0d26c18c">
            <RemoveFolder On="both" Id="INSTALLFOLDER" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="RedboxAddin" />
          </Component>
          <Component Id="comp_5DE0BF45_5AAA_4732_B591_13B0D1C231A1" Guid="97C83870-0338-4885-8F37-A4EB1C091958" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_594788E7_B6D1_44B6_9D35_D9EC96FADF1B" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Redemption.dll" Source="..\ProgramData Files\Redemption.dll" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_5DE0BF45_5AAA_4732_B591_13B0D1C231A1" Type="string" Value="RedboxAddin directory" KeyPath="yes" />
          </Component>
          <Component Id="comp_CAE69F27_D165_4A50_94E1_B86A8B52D8DE" Guid="03C3C6A3-C502-4A89-8CD8-E2A119343A83" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_1F1C6FA8_EA7A_45B5_AF64_27CD51B28A18" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Redemption64.dll" Source="..\ProgramData Files\Redemption64.dll" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_CAE69F27_D165_4A50_94E1_B86A8B52D8DE" Type="string" Value="RedboxAddin directory" KeyPath="yes" />
          </Component>
          <Component Id="comp_6B4D96F2_CE04_45AD_912F_E9B060653FEE" Guid="5D65B7CF-513D-4750-9356-1FEA449585F8" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_F1D2AC69_C92A_406F_80E6_8B0C5A5F2A60" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Settings.xml" Source="..\ProgramData Files\Settings.xml" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_6B4D96F2_CE04_45AD_912F_E9B060653FEE" Type="string" Value="RedboxAddin directory" KeyPath="yes" />
          </Component>
          <Component Id="comp_6B4D96F2_CE04_45AD_912F_E9B060653DFB" Guid="5D65B7CF-513D-4750-9356-1FEA449585A7" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_F1D2AC69_C92A_406F_80E6_8B0C5A5F2A32" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="PaidPartyDetails.json" Source="..\ProgramData Files\PaidPartyDetails.json" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_6B4D96F2_CE04_45AD_912F_E9B060653DFB" Type="string" Value="RedboxAddin directory" KeyPath="yes" />
          </Component>
          <Component Id="comp_EF419053_8C1A_4294_B1F6_19A680F31D2A" Guid="13695DE9-C2D5-4314-87A3-83A1890A9719" Permanent="no" SharedDllRefCount="no" Transitive="no">
            <File Id="_B22C8FCC_4BFC_424D_8F95_C8060362F9B7" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="AddinExpress.ToolbarControls.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\AddinExpress.ToolbarControls.2005.dll" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]\Installer" Name="comp_EF419053_8C1A_4294_B1F6_19A680F31D2A" Type="string" Value="RedboxAddin directory" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <Component Id="ProductComponent" Guid="c2c2c336-bb3c-43d9-a669-2e2597db4a30" DiskId="1" Directory="INSTALLFOLDER">
        <RegistryKey Root="HKCU" Key="Software\[Manufacturer]\[ProductName]">
          <RegistryValue Type="string" Name="Installed" Value="[INSTALLFOLDER]" KeyPath="yes" />
        </RegistryKey>
        <File Id="_$(var.RedboxAddin.TargetName)_dll" Name="$(var.RedboxAddin.TargetFileName)" Source="$(var.RedboxAddin.TargetPath)" />
        <File Id="_adxloader_dll_manifest" Name="adxloader.dll.manifest" Source="$(var.RedboxAddin.ProjectDir)Loader\" />
        <File Id="_adxloader_dll" Name="adxloader.dll" Source="$(var.RedboxAddin.ProjectDir)Loader\" />
        <File Id="_adxloader64_dll" Name="adxloader64.dll" Source="$(var.RedboxAddin.ProjectDir)Loader\" />
        <File Id="_AddinExpress_MSO_2005_dll" Name="AddinExpress.MSO.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
        <File Id="_AddinExpress_OL_2005_dll" Name="AddinExpress.OL.2005.dll" Source="C:\Program Files (x86)\Add-in Express\Add-in Express for .NET\Bin\" />
        <File Id="_DevExpress_Data_v11_2_dll" Name="DevExpress.Data.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.Data.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_PivotGrid_v11_2_Core_dll" Name="DevExpress.PivotGrid.v11.2.Core.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.PivotGrid.v11.2.Core\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_Printing_v11_2_Core_dll" Name="DevExpress.Printing.v11.2.Core.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.Printing.v11.2.Core\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_Utils_v11_2_dll" Name="DevExpress.Utils.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.Utils.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_XtraEditors_v11_2_dll" Name="DevExpress.XtraEditors.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.XtraEditors.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_XtraGrid_v11_2_dll" Name="DevExpress.XtraGrid.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.XtraGrid.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_XtraLayout_v11_2_dll" Name="DevExpress.XtraLayout.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.XtraLayout.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_DevExpress_XtraPivotGrid_v11_2_dll" Name="DevExpress.XtraPivotGrid.v11.2.dll" Source="C:\Windows\assembly\GAC_MSIL\DevExpress.XtraPivotGrid.v11.2\11.2.11.0__b88d1754d700e49a\" />
        <File Id="_Microsoft_Vbe_Interop_dll" Name="Microsoft.Vbe.Interop.dll" Source="$(var.RedboxAddin.TargetDir)" />
        <File Id="_Office_dll" Name="Office.dll" Source="$(var.RedboxAddin.TargetDir)" />
        <File Id="_RedboxAddin_dll_config" Name="RedboxAddin.dll.config" Source="$(var.RedboxAddin.TargetDir)" />       
        <File Id="_Newtonsoft_Json_dll" Name="Newtonsoft.Json.dll" Source="$(var.RedboxAddin.TargetDir)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>